
<h1> search sub v 0.1 </h1>

{{ form.ipadres }} 
<form action="/" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
	<div>
	  {{ form.subject.errors }}
	  {{ form.subject }}
	</div>
	<div>
	  {{ form.sender.errors }}
	  {{ form.sender }}
	</div>
	<div>
	  <label for="id_message">Домен:</label>
	  {{ form.domain_tar.errors }}
	  {{ form.domain_tar }}
	</div>
	<div>
	  {{ form.copy.errors }}
	</div>
	<input type="submit" value="Отправить"/>

<div>
	 {{ form.work_done }}
</div>
</form>
